<p id="notice"><%= notice %></p>

<h2> Your Pragmatic Cart </h2>
<ul>
<% @cart.line_items.each do |line_item| %>
    <li class="cart_item">
      <%= line_item.quantity %> &times; <%= line_item.product.title %>
    </li>
<% end %>
</ul>